@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #242933;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 20px 0 10px;
    font-size: x-large;
    /* color: #509452; */
}
.content{
    font-size: 16px;
    color: #d5d5d5;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 10px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

a{
 @apply text-[#ec4c56] border-transparent border-b-2 hover:border-b-2 hover:border-[#ec4c56] transition duration-300 ease-in-out 
}

